<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alarm.mapper.AlarmTemplateMapper">
    
    <resultMap type="AlarmTemplate" id="AlarmTemplateResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="enable"    column="enable"    />
        <result property="type"    column="type"    />
        <result property="templateId"    column="template_id"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectAlarmTemplateVo">
        select id, create_time, update_time, enable, type, template_id, name, content from alarm_template
    </sql>

    <select id="selectAlarmTemplateList" parameterType="AlarmTemplate" resultMap="AlarmTemplateResult">
        <include refid="selectAlarmTemplateVo"/>
        <where>  
            <if test="enable != null "> and enable = #{enable}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectAlarmTemplateById" parameterType="String" resultMap="AlarmTemplateResult">
        <include refid="selectAlarmTemplateVo"/>
        where id = #{id}
    </select>

    <insert id="insertAlarmTemplate" parameterType="AlarmTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into alarm_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="enable != null">enable,</if>
            <if test="type != null">type,</if>
            <if test="templateId != null">template_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="content != null and content != ''">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="enable != null">#{enable},</if>
            <if test="type != null">#{type},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="content != null and content != ''">#{content},</if>
         </trim>
    </insert>

    <update id="updateAlarmTemplate" parameterType="AlarmTemplate">
        update alarm_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="type != null">type = #{type},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlarmTemplateById" parameterType="String">
        delete from alarm_template where id = #{id}
    </delete>

    <delete id="deleteAlarmTemplateByIds" parameterType="String">
        delete from alarm_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>